/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-white: #ffffff;
  --color-light-grey: #f9f8fb;
  --color-light-purple: #e8e5f9;
  --color-grey: #989bb4;
  --color-dark-blue: #14132b;
  --color-violet: #7863f9;
  --color-orange: #ee9c50;

  --font-small: 14px;
  --font-regular: 16px;
  --font-medium: 24px;
  --font-large: 48px;

  --font-regular: 400;
  --font-semibold: 600;

  --letter-spacing-3: -0.03em;
  --letter-spacing-1: -0.01em;
}
